@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brasília<br />
    Sobradinho<br />
    <strong>Fone:</strong> +55 (61) 993158228
</address>

<address>
    <strong>Me mande um e-mail:</strong>   <a href="mailto:diamatheus@gmail.com">diamatheus@gmail.com</a><br />
    <strong>LinkeIn:</strong> <a href="https://www.linkedin.com/in/matheus-dias-120384a3/">https://www.linkedin.com/in/matheus-dias-120384a3/</a>
</address>