@{ 
    ViewBag.Title = "Experiencia";
}
<div class="container">
    
    <div class="col-md-8">
        <br />
        <h3>@ViewBag.Message</h3>
        <br />
        <div id="accordion" class="panel-group">
            <!-- Painel Vert -->
            <div class="panel panel-default">
                <div id="headingFour" class="panel-heading" style="background-color: #565b4f; color: #fdfdfd;">
                    <h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">+ Vert Integradora de TI</a></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-heading">
                        <strong>» Programador PHP Júnior</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                Desenvolvimento e manutenção em sistemas PHP (Laravel, Joomla, Moodle, WordPress). <br />
                                Criação de sites com WordPress e Joomla. <br />
                                Criação e customização de módulos e plugins em sistemas PHP (Joomla). <br />
                                Criação de Dashboards de B.I. e B.A com a ferramenta Pentaho (JSP). <br />
                                Levantamento de requisitos, modelagem de negócios / de dados e implementação de sistemas que automatizem o trabalho do setor (ESDPU).
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Painel Stefanini -->
            <div class="panel panel-default">
                <div id="headingFour" class="panel-heading" style="background-color: #565b4f; color: #fdfdfd;">
                    <h4 class="panel-title">
                        <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">+ Stefanini</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-heading">
                        <strong>» Estagiário</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                Desenvolvimento e manutenção em sistemas .NET, ASP e C#. <br />
                                Levantamento de regras para migração de tecnologias mais recentes (Engenharia Reversa). <br />
                                Criação e customização de módulos e plugins em sistemas PHP (Joomla). 
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Painel MMA -->
            <div class="panel panel-default">
                <div id="headingFour" class="panel-heading" style="background-color: #565b4f; color: #fdfdfd;">
                    <h4 class="panel-title">
                        <a href="#collapseThree" data-toggle="collapse" data-parent="#accordion">+ Ministério do Meio Ambiente</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-heading">
                        <strong>» Estagiário</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                Desenvolvimento e manutenção em sistemas PHP (Joomla), implementação de hotsites com CMS’s: Joomla e WordPress. <br />
                                Levantamento de requisitos, análise de soluções e implementação das necessidades utilizando WordPress.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
